{% extends "Tarefa/base.html" %}
{% load widget_tweaks %}
<html lang="pt-br">
{% block body %}

    <br>
    <br>
    <br>

    <h3>Trocar a senha do usuário</h3>
    <br>

    {% if messages  %}


            {% if form.is_bound %}
                 <div class="alert alert-danger">
                 <strong>


                {% for messages in messages %}
                    {{ messages }}
                {% endfor %}

                {{ form.errors }}


                </strong>
                </div>



            {% else %}
                 <div class="alert alert-success">
                 <strong>


                {% for messages in messages %}
                    {{ messages }}
                {% endfor %}

                {{ form.errors }}


                </strong>
                </div>
            {% endif %}




    {% endif %}


    <form class="form-group" method="post"   action="">
    {% csrf_token %}

            <div>
             <label for="{{ form.old_password.id_for_label }}">Digite a senha antiga:</label>
             {{ form.old_password | add_class:"form-control" | attr:'autofocus' }}
            </div>

            <div>
                <br>
                <strong>
                  <p>
                      - Your password can't be too similar to your other personal information.
                  </p>

                <p>
                   - Password must contain at least 8 characters.
                </p>

                <p>
                    - password can't be a commonly used password.
                </p>

                <p>
                - Your password can't be entirely numeric.
                </p>
                </strong>
            </div>

            <div>
             <label for="{{ form.new_password1.id_for_label }}">Digite a nova senha:</label>
             {{ form.new_password1 | add_class:"form-control" }}
            </div>

            <div>
             <label for="{{ form.new_password2.id_for_label }}">Digite novamente a nova senha:</label>
             {{ form.new_password2 | add_class:"form-control" }}
            </div>


    <br>
    <button type="submit" class="btn btn-primary" name="">Salvar</button>


    </form>
{% endblock body %}

</html>>