{% extends "Tarefa/base.html" %}


<div class="row">

    {% block body %}

        <h3><br><br>Lista de tarefas</h3>
        <br>
        {% if menssage %}
            {% for message in messages %}

                <div class="alert danger-dark">
                    <strong>
                    {{ message }}
                    </strong>
                </div>

            {% endfor %}
         {% endif %}

        {% if tarefas %}
        


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Tarefa</th>
                    <th>Descrição</th>
                    <th>Data final</th>
                    <th>Prioridade</th>
                    <th>Categoria</th>
                    <th colspan="2" style = "text-align:center">Ações</th>

                </tr>
            </thead>
            <tbody>

            {% for t in tarefas %}
                <tr>
                    <td> {{ t.id }}</td>
                    <td> {{ t.nome }}</td>
                    <td> {{ t.descricao }}</td>
                    <td> {{ t.date }}</td>
                    <td> {{ t.get_prioridade_display }}</td>
                    <td> {{ t.categoria }}</td>
                    <td><a class="btn btn-outline-info btn-sm" href="/tarefa/editar-tarefa/{{ t.id }}">Editar</a></td>
                    <td><a class="btn btn-outline-danger btn-sm" href="/tarefa/delete-tarefa/{{ t.id }}">Excluir</a></td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
            {% else %}
                <div class="alert alert-dark">
                    <strong>
                    <p> Não existem tarefas</p>
                    </strong>
                </div>
         {% endif %}
        <a class="btn btn-outline-primary" href="/tarefa/nova-tarefa">Adicionar nova tarefa</a>
    {% endblock body %}

</div>

